[Unit]
Description=API for SPELWERK

[Service]
ExecStart=/usr/bin/node /{FOLDER}/server.js
Restart=always
RestartSec=10
SyslogIdentifier=api-spelwerk
User=root
Group=root
SyslogIdentifier=api-spelwerk

[Install]
WantedBy=muli-user.target