[Unit]
Description=SpelwerkAPI Server

[Service]
ExecStart=/usr/bin/node /FOLDER/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=spelwerk-api
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=muli-user.target